@font-face {
  font-family: DeliciousRoman;
  src: url('/assets/fonts/delicious-roman-webfont.woff');
}

body
{
    color: #000000;
    background-color: #222;
    background-repeat: repeat;
    font-family: DeliciousRoman;
    font-size: 12pt;
}


h1,h2,h3
{
	padding: 5px 0px 5px 0px;
	margin: 5px 0px 5px 0px;	
}

h1
{
	font-size: 28px;
}

h2
{
	font-size: 26px;	
}

.clear
{
	clear: both;	
}

section#main-content
{
	padding: 10px;	
}

form div.form-item
{
	padding: 5px;
	vertical-align:top;
}

form div.form-item label
{
	width: 100px;
	display: inline-block;
	text-align: right;
}

form div.form-item input,select,textarea
{
	width: 270px;
	height: 20px;
	-webkit-border-radius: 3px;
	border: 1px solid #0f0f0f;
	background-color: #4a4947;
	color: #ffffff;
}

form div.form-item textarea
{
	height: 100px;
	width: 267px;
}

header#main-header
{
    text-align: left;
    border-bottom: 1px solid #000000;
    background-image: -webkit-linear-gradient(bottom, #000, #FFF, #FFF, #FFF);
}

img#header-img
{
   padding-left: 40px;
}

footer#main-footer
{
	padding-bottom: 10px;
	font-size: 12px;	
}

footer#main-footer div#icons
{
    display: block;
    text-align: center;
}

nav#navigation-bar
{
    height: 30px;
    width: 100%;
    display: block;
    background: #222;
    color: #FFF;
    background-image: url('/assets/images/striped_bg.jpg');
    background-repeat: repeat-both;
}

ul#navigation-list
{
    list-style: none;
    padding-top: 5px;
}

ul#navigation-list li
{
    display: inline-block;
    padding-right: 20px;
}

ul#navigation-list li a
{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

a
{
    color: #06c;
}

h1
{
    color: #000;
    font-size: 21px;
    font-weight: bolder;
}

section#container
{
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000000;
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

section#main-container
{
    display: inline-block;
}

section#main-container section
{
	text-align: left;
	float: right;	
}

section#sidebar-left
{
    display: inline-block;
    float: left;
    padding-left: 30px;
}

article
{
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 500px;
}

article#about-me
{
	width: 250px;	
}

article#employment
{
	width: 250px;	
}

article#technologies
{
	width: 250px	
}

article#employment dd span
{
    display: block;   
}

article#latest-posts
{
	width: 400px;
}

article#latest-posts ul
{
	list-style-image: url('/assets/images/wordpress_icon.gif');	
}

article#latest-posts ul li,a,p
{
	vertical-align: top;
}

article#latest-posts ul li p
{
	margin-top: 0px;	
}
	
article#contact-me
{
	width: 500px;
}

article#contact-me form header
{
	padding-bottom: 20px;	
}

article#contact-me form footer
{
	text-align: center;	
}

article#contact-me
{
	text-align: center;	
}

article#journal-entries ul li p label
{
	display: inline-block;
}

article#journal-entries ul
{
	list-style-type: none;	
}

article#journal-entries ul li
{
	padding-bottom: 10px;	
}

section#projects nav
{
	display: inline-block;
	text-align: left;
	width: 200px;
	padding-left: 30px;
	float: left;
}

section#projects nav ul
{
	margin: 0px;
	list-style-type: none;
	padding-left: 0px;
}

section#projects article.project
{
	width: 700px;
	float: right;	
}

section#projects article.project header h3 a
{
	text-decoration: none;	
}

section#projects article.project header ul.links, ul.screenshots
{
	display: inline-block;
	margin: 0px;
	margin-bottom: 5px;
	list-style-type: none;
	padding-left: 0px;
	font-size: 14px;	
}

section#projects article.project header ul.screenshots
{
	display: block;	
}

section#projects article.project header ul.screenshots li
{
	display: inline-block;	
}